# CloudForge - Provider Alibaba Cloud (Aliyun)
# Instale com: pip install -r requirements-alibaba.txt
# Ou: pip install cloudforge[alibaba]

alibabacloud_ecs20140526>=3.0.0
alibabacloud_vpc20160428>=2.0.0
alibabacloud_slb20140515>=2.0.0
alibabacloud_tea_openapi>=0.3.0
alibabacloud_credentials>=0.3.0
